body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    --dominant-color: #212121;
    --secondary-color:  #757575;
    --accent-color:  #2196F3;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul { 
    margin: 0;
    padding: 0;
} 

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
address{
    font-style: normal;
}
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    @media screen and (min-width: 480px){
      width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}
.section-position{
    padding-top: 60px;
    padding-bottom: 60px;


    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

}

.name-section{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        color: var(--dominant-color);
        text-align: center;

        margin-bottom: 50px;
}