.page-header__navigation{

    @media screen and (max-width: 767px){
        display: none;    
     } 
     
     @media screen and (min-width: 768px){
        display: flex;
        align-items: center; 
     } 
     @media screen and (max-width: 1199px){
        margin-right: 80px;
     }
}
.menu-mobile{
    margin-bottom: 300px;
}

.page-header__menu{
    @media screen and (min-width: 768px){
        display: flex;
        margin-left: 90px;     
     } 

     @media screen and (min-width: 1200px){
        margin-left: 93px;     
     } 
}

.page-header__item{
    position: relative;

    @media screen and (max-width: 767px){
          &:not(:last-child){
            margin-bottom: 32px;
          }
    }

    @media screen and (min-width: 768px){
          &:not(:last-child){
            margin-right: 50px;
        }
    }
}

.page-header__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 0.851;
    color: var(--dominant-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px){
        font-size: 14px;
        line-height: 1.1;
    }
}
.page-header__link--active{
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px){
        &::after{
            display: inline-block;
            content: "";
            height: 4px;
            width: 100%;
        
            position: absolute;
            left: 0;
            bottom: -37px;
            border-radius: 2px;
            background-color: var(--accent-color);
        }
    }

    @media screen and (min-width: 1200px){
        &::after{
            bottom: -32px;
        }
    }
}
