.page-footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

    // display: flex;
    // align-items: center;
}
.page-footer__container{
    position: relative;
    text-align: center;
    @media screen and (min-width: 1200px){
        text-align: left;
    }
    
}
.page-footer__container{
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}

.footer-wrap{
    @media screen and (max-width: 1199px){
        margin-bottom: 60px;
    }
}
.page-footer__main-social-link{
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.875;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-bottom: 20px;
}

.page-footer__form-subscription{
    @media screen and (min-width: 1200px){
        display: flex;
        align-items: end;
        margin-left: auto;
    }

}

.form-subscription__button{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 0.533;
    text-align: center;

    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    border-radius: 4px;
    border-color: transparent;
    color: #FFFFFF;
    background-color: var(--accent-color);

    display: flex;
    align-items: center;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    background-color: #FFFFFF;
    color: var(--dominant-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    @media screen and (min-width){
        width: 200px;
    }
}

}

.form-subscription__icon{
    fill: #ffffff;
    margin-left: 10px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form-subscription__button:hover &,
    .form-subscription__button:focus &{
    fill: var(--dominant-color);
}
}


.form-subscription__wrap{
    @media screen and (max-width: 767px){
        width: 100%;
    }
    @media screen and (max-width: 1199px){
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px){
        width: 358px;
        margin-right: 12px;
    }

}

.form-subscription__label{
    display: inline-block;
    color: #ffffff;
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 0.875;
text-align: center;
text-transform: uppercase;
cursor: pointer;

margin-bottom: 20px;
}
.form-subscription__input{
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    cursor: pointer;
    outline: none;
    color: rgba(255, 255, 255, 0.6);

    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
    &::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0.8;

    color: rgba(255, 255, 255, 0.6);
}
}

