.developers{
    background-color: #F5F4FA;
}
.developers-wrap{
    display: flex;
}
.developers__item{
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border-color: transparent;  
    width: 270px;

    &:not(:last-child){
        margin-right: 30px;
    }
}

.developers__name{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        color: var(--dominant-color);

        padding-top: 30px;
        margin-bottom: 10px;
}
.developers__position{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        color: var(--secondary-color);

        padding-bottom: 16px;
}

.developers__social-list{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.social-list__item:not(:last-child){
    margin-right: 10px;
}
.social-list__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #AFB1B8; 

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    background-color: var(--accent-color);
    border-radius: 50%;
}
}

.social-list__icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-list__link:hover &,
    .social-list__link:focus &{
    fill: #ffffff;
} 
}

.footer-social__list{
    display: flex;
}

.footer-social__item:not(:last-child){
    margin-right: 10px;
}
.footer-social__icon{
    fill: #ffffff;
}
.footer-social__item{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    background-color: var(--accent-color);
}
}

 